.SingleColourPalette {
    height: 100vh;
    overflow: hidden;       /* Prevents scrollbars from momentarily appearing */
}

.SingleColourPalette .Swatch {
    height: 50%;
}

.Swatch.GoBack {
    background-color: black;
}

.Palette-colours {
    /* height: 90%; */
    height: 89vh;           /* 100vh - NavBar (6vh) - Footer (5vh) */
}